/* a마크업 기본css 제거 : 색상, 밑줄 제거 */

a{ color: black; text-decoration: none;}
a:hover {
    color: orange;
}
a:active {
    color: aqua;
}
a:visited {
    color: blue;
}

#header {
    background-color:aqua;
}
#header > ul {
    display: flex;
    justify-content: center;
}
#header > ul > li {
    list-style-type: none;
    margin: 0 10px;
    position: relative
}

/* li에 마우스를 올렸을 떄 .submenu클래스의 display:block 변경 */
#header > ul > li:hover .subMenu {
    display: block;

}
/* 평소에는 .subMenu클래스의 display:none */
.subMenu {
    display: none;
    padding: 0px;
    position: absolute;
    top: 20px;
    width: 80px;
    background-color: yellow;
}
.subMenu li {
    list-style-type: none;
}






/* 
    선택자 : hover : 해당 선택자에 마우스를 올렸을 때
    선택자:active : 해당 선택자에 마우스 왼쪽 클릭하고 있을 때
    선택자 : visited : 해당 링크에 방문한 적이 있을 때
*/