
 *{
    border: 2px solid red;
    box-sizing: border-box;
    padding: 10px;
}

#webWrap {
    width: 900px;
    margin: 50px auto;
}
header{
    background-color: blue;
    color: white;
}
nav{
    background-color: brown;
    color: white;
}
main{
    background-color: orange;
    display: flex;
    flex-wrap: nowrap;
}
article{
    width : 600px
}
aside{
    width: 300px;
}
footer{
    background-color: black;
    color: white;
}

/* 
    class : 
    id : 
*/

#header {
    background-color: blue;
    color: white;
}
#nav {
    background-color: brown;
    color: white;
}
#main{
    background-color: orange;
    display: flex;
    flex-wrap: nowrap;
}
#article{
    width: 600px;
}
#aside{
    width: 300px;
}
#footer{
    background-color: black;
    color: white;
}



