
* {
    /* border: 1px solid red; */
    padding: 10px;
    list-style-type: none; /* 글머리 제거 */
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box; /* 안쪽여백 포함 사이즈 */
}
a {
    color: black;
    text-decoration: none;
}

#wrap{
    width: 350px;
    margin: 0 auto;
}
#main {
    padding:70px 0;
     
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8;
    width: 350px;
    position: fixed;
    top: 0;
    background-color: white;
}
#header img {
    width: 70px;
}